[Unit]
Description="Entrypoint to data harvester"
After=time-sync.target

[Service]
WorkingDirectory=/opt/sticky_pi_harvester/docker/gpsd
EnvironmentFile=/etc/environment
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
StandardError=syslog
ExecStart=/usr/bin/uwsgi --ini uwsgi.ini
Restart=always
RestartSec=5

[Install]
WantedBy=basic.target
